<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "WelcomeText" value= "Welcome to the game!&#10;"/>
    <add key = "NameText" value = "Enter Player's name: "/>
    <add key = "WeaponChoices" value = "Select your weapon:&#10;a) Knife (Damage: 25)&#10;b) Sword (Damage: 30)&#10;c) Blade (Damage: 35)&#10;d) Katana(Damage: 40)&#10;" />
    <add key = "ArmorChoices" value = "a) Guard (Damage reduction: 5)&#10;b) Buckler (Damage reduction: 10)&#10;c) Shield (Damage reduction:15)&#10;d)Thorn Shield (Damage reduction: 20)&#10;"/>
    <add key = "BattleInfoText" value = "Player 1 Health: {0}&#10;Player 2 Health: {1}&#10;"/>
    <add key = "ActionChoose" value = "{0}, Choose your action: (Attack|Defend)&#10;"/>
    <add key = "CoinTossInfo_Pick" value = "Player 1 Pick: Heads or Tails&#10;"/>
    <add key = "CoinTossInfo_PickInfo" value = "You picked {0}!&#10;"/>
    <add key = "CoinTossInfo_First" value = "You Go First!&#10;"/>
    <add key = "CoinTossInfo_Second" value = "You Go Second!&#10;"/>
    <add key = "CoinTossInfo_P1Win" value = "Player 1 Wins!"/>
    <add key = "CoinTossInfo_P2Win" value = "Player 2 Wins!"/>
    <add key = "CoinTossInfo_Goodbye" value = "Thank you for playing!"/>
    <add key = "ActionDodgePrompt" value = "Dodge!&#10;"/>
    <add key = "AttackText" value = "Attack"/>
    <add key ="AddEnchantmentPrompt" value ="Choose your Enchantment:&#10;a)Blue Orb&#10;b)Green Orb&#10;c)Red Orb&#10;"/>
  </appSettings>
</configuration>